
body {background-color: #b4d0e7;margin:0;padding:0; font-family: "Lucida Console", "Courier New", "monospace";font-weight: bold;}
.menu {background-color: #f2d349; border:4px outset black;text-align:left;}
nav a {
    text-align:center;
    margin-left: 5em;
    list-style: none;
    padding-top: 1em;
    padding-bottom: 1em;
    display:inline-block;  
}

nav a:hover {
    color: red;
    text-decoration: none;
}

.content {
    display:block;
    float:middle;
    z-index:1;
    margin:5em;
    background-color:#9daaf2;
    padding:1em;
    }
h1 {
    text-decoration: none;  
    text-align: center;
    color: black;
    }

#clock {
    margin-top: 2em;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    color: red;
    }
canvas {
    width: 100vw;
    height: 100vh;
    background-color: black;
    }
div.content p{
    text-align: center;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    border-radius: 25%;
}
form {
    text-align: center;
}
#temp-container {
    text-align: center;
}   
h2 {
    text-align: center;
}   
#output {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    color: red;
}

.cell{
    width: 20px;
    height:20px;
    display: inline-block;
    }
#scorewrapper{
    background-color: cornflowerblue;
    width: 30%;
    height: 3em;
    border-radius: 25%;
    text-align: center;
    margin: 50 auto;
    border-style: double;

    }
#board {
    width: 30%; /* You can adjust the width as needed */
    margin: 0 auto; /* This centers the element horizontally */
    margin-top: 2%;
    }
#pi {
        display: inline-block;
        font-size: 1;
    }

.hidden {
        display: block;
}
#colorselector {
    width: 50px;
    height: 50px;
    border: 1px solid #000;
    margin-left: 2em;
    float: left;
}
.gane-start-button {
    text-align: center;
    margin-left: 5em;
    list-style: none;
    padding-top: 1em;
    padding-bottom: 1em;
    display:inline-block;  
}
.contact-info {
    text-align: center;
    font-size: 2em
}
.direction{
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    color: black;
}

#description {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    color: red;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    justify-content: center;
    
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  .fa-linkedin {
    background: #007bb5;
    color: white;
    border-radius: 15%;
  }
  .section{
    background-color: #000;
    color: #fff;
    height: 36px;
    width: 36px;
    margin: 0px 7px 0px;
    padding: 5px;
    border-radius: 8px;
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    box-shadow: 5px 5px 8px rgba(0,0,0,0.9);
    transition: width 300ms ease-in-out 0s, background-color 300ms linear 200ms;
}

.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    aspect-ratio: 1 / 1;
}

a{
    text-decoration: none;
}

.section:hover{
    width: 140px;
    transition: width 300ms ease-in-out 0s, background-color 100ms linear 0s;
}

.section::after{
    content: attr(tooltip);
    margin-left: 10px;
}
.github:hover{
    background: #00405d;
}
.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    inset: 0;
}

 
      




