
body {background-color: #b4d0e7;margin:0;padding:0; font-family: "Lucida Console", "Courier New", "monospace";font-weight: bold;}
.menu {background-color: #f2d349; border:4px outset black;text-align:left;}
nav a {
    text-align:center;
    margin-left: 5em;
    list-style: none;
    padding-top: 1em;
    padding-bottom: 1em;
    display:inline-block;  
}

nav a:hover {
    color: red;
    text-decoration: none;
}

.content {
    display:block;
    float:middle;
    z-index:1;
    margin:5em;
    background-color:#9daaf2;
    padding:1em;
    }
h1 {
    text-decoration: none;  
    text-align: center;
    color: black;
    }

#clock {
    margin-top: 2em;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    color: red;
    }
canvas {
    width: 100vw;
    height: 100vh;
    background-color: black;
    }
div.content p{
    text-align: center;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    border-radius: 25%;
}
form {
    text-align: center;
}
#temp-container {
    text-align: center;
}   
h2 {
    text-align: center;
}   
#output {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    color: red;
}

